.descriptions {
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    color: $darkgrey;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  &__item {
    display: flex;
    justify-content: center;
    background-color: $lightcream;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 0;
  }
}
@media screen and (min-width: 768px) {
  .descriptions {
    &__title {
      text-align: start;
    }
    &__list {
      display: flex;
      flex-direction: wrap;

      gap: 30px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .descriptions {
    &__list {
      flex-wrap: nowrap;
      justify-content: center;
      gap: 30px;
      padding-left: 0px;
    }
    &__title {
      text-align: start;
    }
    &__text {
      padding-bottom: 0;
    }
    &__item {
      padding: 25px 104px;
    }
  }
}
