.main-question {
  background: linear-gradient(#2f303a66, #2f303a66),
    url(../images/background-hero-mobile@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &__title {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
  }
  &__button {
    background: $lightblue;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px 41px;
  }
}

@media screen and (min-width: 768px) {
  .main-question {
    background: linear-gradient(#2f303a66, #2f303a66),
      url(../images/background-hero-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .main-question {
    background: linear-gradient(#2f303a66, #2f303a66),
      url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_title {
      font-size: 44px;
      line-height: 1.36;
      margin-left: 252px;
      margin-right: 252px;
      margin-top: 106px;
    }

    &__button {
      margin-bottom: 106px;
    }
  }
}
