.main-question {
  background: linear-gradient(#2f303a66, #2f303a66),
    url(../images/background-hero-mobile@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  &__title {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    font-weight: 900;
    max-width: 365px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 24px;
  }
  &__button {
    background: $lightblue;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px 41px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .main-question {
    background: linear-gradient(#2f303a66, #2f303a66),
      url(../images/background-hero-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .main-question {
    background: linear-gradient(#2f303a66, #2f303a66),
      url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
      font-size: 44px;
      line-height: 1.36;
      margin: 106px 254px 30px;
      max-width: 100%;
    }
    &__button {
      margin-bottom: 106px;
    }
  }
}
