.main-question {
  background: linear-gradient(#2f303a66, #2f303a66);
  background: url(../images/background-images/background-mobile@1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  @include desktop {
    background: url(../images/background-images/background-desk@1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  @include tablet {
    background: url(../images/background-images/background-tab@1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }
  &__title {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;

    @include desktop {
      margin-left: 252px;
      margin-right: 252px;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      margin-top: 106px;
    }

    @include tablet {
    }
  }
  &__button {
    background: $lightblue;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    outline: none;
    margin-bottom: 106px;
    padding: 10px 41px 10px 42px;
  }
}
